body{
    font-family: "Urbanist", sans-serif;
  }
.header-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
  }

.wrapper-image {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
  }
  
.wrapper-image img {
    max-width: 250px; 
    width: 100%; 
    height: auto;
    
  }
.header-text a {
    text-decoration: none; 
    margin: 0 10px; 
    color: black; 
    font-size: 1.2rem; 
  }
  
h1{
    display: flex;
    justify-content: center;
  }

p{
    display: flex;
    justify-content: center;
    font-size: 14px;
  }

.wrapper-text {
    background-color: rgba(101, 40, 254, 0.975); 
    text-align:left; 
    padding: 20px; 
    border-radius: 15px; 
    color: white;
    font: size 22px;; 
    line-height: 1.5;
    margin: 0; 
    margin-bottom: 15px;
  }    

/* Estilos para el contenedor de la imagen y texto */
.wrapper-box {
   
    max-width: 590px; 
    margin: 0; 
  }
  
/* Estilo para la imagen de la mujer platicando */
.wrapper-box img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
    margin-bottom: 15px; 
    border-radius: 10px;
  }
  
/* Estilo para el texto debajo de la imagen */
.wrapper-box h4 {
    font-size: 1.5rem; 
    margin-top: 10px;
  
    margin-bottom: 10px; 
    text-align: left;
  }
  
  .wrapper-box p {
    font-size: 1rem; 
    color:black; 
    text-align: left;
  }
 
  
/* Estilo para el botón */
button {
    font-family: "Urbanist", sans-serif;
    display:flex; 
    align-items: center;
    justify-content: space-between; 
    height: 40px;
    width: 220px; 
    background-color: black; 
    color: white; 
    border: none; 
    border-radius:5px ;
    padding:10px 8px; 
    font-size: 14px; 
  }   
  
/* Estilo para la imagen de la flecha dentro del botón */
button img {
    width: 30px !important;
    height:auto;
    margin-left:10px;
    display: inline-block;
    margin-top: 15px;   
  }

/*Estilo del header*/  
.wrapper-text, .header-text{
  display: block;
}

/*Aquí van los estilos de la clase column abarca h1, p y h3*/
.main-container {
  display: flex; 
  justify-content: space-between;
  align-items: flex-start; 
  gap:5px; 
  flex-wrap: nowrap; 
  margin-top: 20px;
  margin-bottom: 30px;
}

/*Estilo de las dos columnas*/
.column, .column2 {
  flex: 1; 
  max-width: 50%; 
  box-sizing: border-box; 
  margin-right:2%; 
  margin-left:10px;
  padding: 0;
}

/*Aqui puse los estilos para las pantallas*/

/*Inicia el de 480px*/
@media screen and (max-width: 480px) {
  .wrapper-image img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
  }
  
  .wrapper-text, .header-text {
    display: none; 
  }

  .main-container {
    flex-direction: column; 
    justify-content: flex-start;
    gap: 20px; 
    max-width: fit-content;
  }

  .wrapper-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 90%;
    margin: 0 auto;
  }

  .column, .column2 {
    max-width: 100%; 
    margin: 0; 
  }
}

/*Inicia para la pantalla de 768px*/
@media (min-width: 481px) and (max-width: 768px) {
  .wrapper-image img {
    display: block;
    margin: 0 auto; 
    max-width:100%; 
    height: auto;
  }
  .column,.header-text {
    display: none;
  }
  .column2{
    max-width: 100%;
    margin:10px 75px 75px 75px;
  }
}